!!!
%html{"ng-app" => "screensaver"}
  %head
    %title Screen Saver - Angular
    %script(type="text/javascript" src="js/angular.min.js")
    %script(type="text/javascript" src="js/angular-screensaver.js")
    :css
      body {
        background-color: black;
      }
      img {
        width: 300px;
        height: 230px;
        margin: auto;
        position: absolute;
      }
      

  %body
    %div
      %a(href="/") JQuery
    %div{"ng-controller" => "ScreenSaverController"}
      %img(src="images/mooninites.jpg" screen-saver)
