!!!
%html
  %head
    %title Screen Saver - Angular
    %script(type="text/javascript" src="js/angular.min.js")
    %script(type="text/javascript" src="js/angular-screensaver.js")
    :css
      body {
        background-color: black;
      }
      img {
        width: 300px;
        height: 230px;
        margin: auto;
      }
      

  %body
    %div
      %a(href="/") JQuery
    %img(src="images/mooninites.jpg")
