!!!
%html
  %head
    %title Black &amp; White Javascript Test App
    %script(type="text/javascript" src="js/jquery-2.0.2.js")
    :css
      body {
        background-color: black;
      }
      #white-square {
        width: 300px;
        height: 160px;
        background-color: #FCFCFC;
        margin: auto;
      }

  %body
    #white-square
