!!!
%html
  %head
    %title Screen Saver - JQuery
    %script(type="text/javascript" src="js/jquery-2.0.2.js")
    %script(type="text/javascript" src="js/jquery-screensaver.js")
    :css
      body {
        background-color: black;
      }
      img {
        width: 300px;
        height: 230px;
        bottom: auto;
        margin: auto;
        position: absolute;
      }
      .container {
        max-width: 100%;
        max-height: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
       }
      

  %body
    %div
      %a(href="/angular") Angular
    %div.container
      %img(src="images/mooninites.jpg")
      :javascript
        var screenSaver = new ScreenSaver('img');
        screenSaver.drift();
