!!!
%html
  %head
    %title Mocha Tests?
    %link(rel="stylesheet" href="css/mocha.css")
    :css
      #test-screensaver {
        position: absolute;
        top: 50px;
        left: 50px;
        width: 300px;
        height: 200px;
      }
    %script(src="js/jquery-2.0.2.js")
    %script(src="js/mocha.js")
    %script(src="js/chai.js")
    %script(src="js/application.js")
    :javascript
      mocha.setup('bdd');
      var assert = chai.assert;

  %body
    %h1 Mocha Tests
    #test-screensaver
    #mocha
    %script(src="js/test.js")
    :javascript
      mocha.run();

